.myDialog{
    -fx-background-color: rgb(32, 33, 45);
    -fx-fill: green;
}

.myDialog:header *.header-panel{
    -fx-background-color: rgb(45, 45, 55);
}

#primaryButton{
    -fx-background-color: rgb(98, 94, 192);
    -fx-text-fill: white;
}

#primaryButton:hover{
    -fx-background-color: rgb(138, 133, 242);
    -fx-cursor: hand;
}

#primaryButton:focused{
    -fx-border-color: white;
    -fx-border-width: 2px;
}

#cancelButton{
    -fx-background-color: rgb(98, 94, 192);
    -fx-text-fill: white;
}

#cancelButton:hover{
    -fx-background-color: rgb(138, 133, 242);
    -fx-cursor: hand;
}

#cancelButton:focused{
    -fx-border-color: white;
    -fx-border-width: 2px;
}

.label{
    -fx-text-fill: white;
    -fx-color: white;
    -fx-fill: white;
}

.textInput{
    -fx-background-color: rgb(98, 94, 192);
    -fx-border-color: white;
    -fx-border-width: .5px;
    -fx-text-fill: white;
}

.textInput:focused{
    -fx-border-color: white;
    -fx-border-width: 2px;
}

.options{
    -fx-border-color: white;
    -fx-border-width: .5px;
    -fx-background-color: rgb(98, 94, 192);
    -fx-text-fill: white;
}

.options:focused{
    -fx-border-color: white;
    -fx-border-width: 2px;
}

.options:hover{
    -fx-background-color: rgb(47, 45, 84);
    -fx-cursor: hand;
}

.options .list-cell{
    -fx-background-color: rgb(98, 94, 192);
    -fx-text-fill: white;
}

.options .list-cell:hover{
    -fx-background-color: rgb(47, 45, 84);
    -fx-cursor: hand;
}

.date-picker{
    -fx-background-color: rgb(98, 94, 192);
    -fx-border-width: .5px;
    -fx-border-color: white;
}

.date-picker:focused{
    -fx-border-color: white;
    -fx-border-width: 2px;
}

.date-picker .text-field{
    -fx-background-color: rgb(98, 94, 192);
    -fx-text-fill: white;
}

.date-picker .text-field:hover{
    -fx-cursor: pointer;
}

.date-picker > .arrow-button{
    -fx-background-color: rgb(98, 94, 192);
}

.date-picker > .arrow-button:hover{
    -fx-background-color: rgb(47, 45, 84);
    -fx-cursor: hand;
}

.date-picker-popup > * > .spinner {
    -fx-background-color: rgb(47, 45, 84);
}

.date-picker-popup > * > .spinner > .button {
    -fx-background-color: rgb(47, 45, 84);
}

.date-picker-popup > .calendar-grid{
    -fx-background-color: rgb(47, 45, 84);
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-border-color: white;
    -fx-background-color: rgb(47, 45, 84);
}

.date-picker-popup > * > .date-cell{
    -fx-background-color: rgb(67, 65, 112);
    -fx-text-fill: white;
}

.date-picker-popup > * > .day-cell:hover{
    -fx-background-color: rgb(98, 94, 192);
    -fx-cursor: hand;
}

.date-picker-popup > .month-year-pane{
    -fx-background-color: rgb(47, 45, 84);
}